.trackID ,.ranked{
    font-weight: bold;
    font-size: 32px;
    color: #00A4E4;
}
.detail{
    font-size: 18;
}
.level{
    font-size: 16;
}
#App{
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
}

.Sidebar{
    height: 100%;
    width: 120px;
    background-color: #00A4E4;
}
